/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::after, *::before {
  content: '';
}


html, body {
  height: 100%;

}

body {
/*  font-size: 100%;*/
  font-family: "PT Sans", sans-serif;
/*  color: #fff;*/
  background-color: #1D1D1D;
    
}

a {
  color: #AD7735;
  text-decoration: none;
}

/*header*/
.title {
    border: 3px solid #AD7735;
    height: 10em;
}
p {
    text-align: center;
    font-size: 30px;
    color: #fff;
    
}
