/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::after, *::before {
  content: '';
}


html, body {
  height: 100%;
    overflow-x: hidden;

}

body {
/*  font-size: 100%;*/
  font-family: "PT Sans", sans-serif;
/*  color: #fff;*/
  background-color: #1D1D1D;
    
}

a {
/*  color: #AD7735;*/
  text-decoration: none;
}
h1,h2,h3 {
    color: #AD7735;
    text-align: center;
    margin-bottom: 1em;
}

/*HEADER*/
.header {
    height: 20em;
}
/*title*/
.title {
    border: 3px solid #AD7735;
    height: 10em;
}
.title p {
    text-align: center;
    color: #fff;
}

/*
.name {
    font-size: 50px;
}
.job {
    font-size: 15px;
}
*/


/*MAIN*/

.about ,.contact {
    background-color: #363636;
/*    margin-top: 2em;*/
}
h2 {
    font-size: 25px;
}


/*ABOUT*/
#about {
    height: 30em;
}
.about {
    margin-top: 4em;
    height: 20em;
}
.tech {
    height: 25em;
    width: 30%;
    background: #88552B;
    z-index: 8;
    top: -2.5em;
}


/*WORK*/
#work {
/*    margin-top: 2em;*/
}
.work {
    height: 40em;
    margin-top: 1em
    
}
 .work > .row > div {
    height: 13em;
    background: #363636;
}
/*proj*/
.proj {
    background: #88552B;
    opacity: 0.9;
    height: 13em;
    width: 100%;
    margin-top: 1.5em;
/*    margin-left: 1em;*/
}

/*CONTACT*/
#contact {
    height: 30em;
}
.contact {
    height: 20em;
}
/*form*/
/*social*/
.social div {
    margin-left: 7%;
}
.social a {
/*
    height: 2em;
    width: 2em;
*/
    border: 1px solid  #AD7735;
    padding: 15px;
    margin-left: 3em;
}
.social i {
    color:  #88552B;
}
