/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::after, *::before {
  content: '';
}


html, body {
  height: 100%;

}

body {
/*  font-size: 100%;*/
  font-family: "PT Sans", sans-serif;
/*  color: #fff;*/
  background-color: #1D1D1D;
    
}

a {
  color: #AD7735;
  text-decoration: none;
}
h1,h2,h3 {
    color: #AD7735;
    text-align: center;
    margin-bottom: 1em;
}

/*HEADER*/
.header {
    height: 20em;
}
/*title*/
.title {
    border: 3px solid #AD7735;
    height: 10em;
}
.title p {
    text-align: center;
    color: #fff;
}

.name {
    font-size: 50px;
}
.job {
    font-size: 15px;
}
/*MAIN*/
.about ,.contact {
    background-color: #363636;
/*    margin-top: 2em;*/
}

/*ABOUT*/
.about {
    
    height: 20em;
}

/*WORK*/

.work {
    height: 20em;
    
}

/*CONTACT*/
.contact {
    height: 20em;
}
