[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipdb = "~=0.13.3"
pytest-helpers-namespace = "~=2019.1.8"
pytest-mock = "~=3.2.0"
pytest = "~=5.4.3"
pytest-docker-tools = "~=0.2.2"
apache-airflow = {extras = ["cncf.kubernetes"], version = "*"}

[dev-packages]

[requires]
python_version = "3.8"
